<ng-container>

    <div class="middle">
        <h1 class="center">Booking Request</h1>
        <form method="POST" #bookForm="ngForm" (ngSubmit)="submitBooking()">
            <mat-form-field class="w-100">
                <input matInput placeholder="Enter fullname" required name="fullname" id="fullname" [(ngModel)]="fullname" #formFullname="ngModel">
            </mat-form-field>
            <mat-form-field class="w-100">
                <input matInput placeholder="Enter phone number" required name="phonenumber" id="phonenumber" [(ngModel)]="phonenumber" #formphonenumber="ngModel">
            </mat-form-field>
            <mat-form-field class="w-100">
                <input matInput placeholder="Enter email" required name="email" id="email" [(ngModel)]="email" #formemail="ngModel">
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-select placeholder="Drop off time" required name="dropOffTime" id="dropOffTime" [(ngModel)]="dropOffTime" #formdropofftime="ngModel">
                    <mat-option value="1">1</mat-option> <mat-option value="2">2</mat-option> <mat-option value="3">3</mat-option> <mat-option value="4">4</mat-option> <mat-option value="5">5</mat-option> <mat-option value="6">6</mat-option>
                    <mat-option value="7">7</mat-option> <mat-option value="8">8</mat-option> <mat-option value="9">9</mat-option> <mat-option value="10">10</mat-option> <mat-option value="11">11</mat-option> <mat-option value="12">12</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-select placeholder="AM/PM"  required name="dropOffMeridian" id="dropOffMeridian" [(ngModel)]="dropOffMeridian" #formdropoffmeridian="ngModel">
                    <mat-option value="AM">AM</mat-option>
                    <mat-option value="PM">PM</mat-option>
                </mat-select>
            </mat-form-field>
            <button type="submit" class="button btn btn-block py-2 mb-2 mt-3" [disabled]="!bookForm.form.valid">Submit Request</button>
        </form>
    </div>

</ng-container>
